#grid {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;

  font-size: 12px;
  line-height: 12px;

  letter-spacing: 0.35em;

  white-space: pre;

  
}

body {
  background-color: blue;
  color: white;
}