:root {
  --gridW: 90;
  --gridH: 45;
  --charSize: 12px;
}

#grid {

  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;

  width: 100vw;
  height: 100vh;

  font-size: var(--charSize);
  line-height: var(--charSize);

  /* total width = chars + gaps */
  letter-spacing: calc(
    (100vw - (var(--gridW) * 1ch))
    / (var(--gridW) - 1)
  );

  white-space: pre;

  z-index: -1;
}

#settings {
  visibility: hidden;
}

body {
  position: fixed;
  background-color: blue;
  color: white;
  margin: 0;
  width: 100%;
  height: 100%;
}

#searchBar {
  
}